
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
body{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body.burger__active{
    overflow: hidden;
}

.container {
    max-width: 876px;
    margin: 0 auto;
    padding: 0 10px;
    
}
.header-inner {
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    max-width: 1152px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 55px;
    transition: all .5s;
}
.header__menu {
    /* display: none; */
}
.header__list {
    display: flex;
    margin-right: 60px;
}
.header__item :hover {
    color: #FF6464;
    
}
.burger__content {
    margin-right: 10px;
    background-color: transparent;
}
.burger__line1 {

    width: 45px;
    height: 2px;
    background-color: #000;

}
.burger__line2 {
    width: 45px;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
}
.burger__line3 {
    width: 45px;
    height: 2px;
    background-color: #000;
}

.header__item +.header__item {
    margin-left: 35px;
}
.header__link {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.active{    color: #FF6464;
}


.usability {
}
.container {
}
.usability-inner {
}
.usability__main-title {
    color: #21243D;
    font-size: 34px;
    font-weight: 700;
    max-width: 506px;
    margin-bottom: 30px;

}
.usability__date {
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 23px;



}
.usability__text {
    background-color: #FF7C7C;
    border-radius: 50px;
    padding: 0 10px;
    padding-left: 17px;
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    /* line-height: 60px; */
    
}
.usability__text+.usability__text{
    background-color: transparent;
    color: #21243D;
    font-size: 20px;
    font-weight: 500;
}
.usability__text-content {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    max-width: 681px;
    margin-bottom: 46px;
}
.p__2{
    margin-bottom: 30px;
}
.content__img {
    margin-bottom: 27px;
    width: 100%;
}
.usability__title {
    color: #21243D;
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
    padding-top: 27px;
}
.usability__subtitle {
    color: #21243D;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 10px;
}


.footer {
}
.container {
}
.footer__inner {
    padding: 54px 0 51px;
}
.footer__sociale {
    margin-bottom: 26px;
    

}
.footer__menu-list {
    max-width: 225px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__menu-item {
}
.footer__menu-link {
}
.footer__menu-img {
}
.footer__copy {
    text-align: center;
}
@media(max-width:563px){
    .burger__line1.burger__active{
        position: relative;
        transform: rotate(45deg);
        top: 2px;
    }
    .burger__line2.burger__active{
        display: none;
    }
    .burger__line3.burger__active{    
        position: relative;
        transform: rotate(-45deg);
        
    }
    .burger__content{
        z-index: 1;
    }
    .header__menu{

    }
    .header__list{
        left: 0;
        right: 0;
        
        position: fixed;
        display: block;
        background: #EDF7FA;
        text-align: center;
        margin-right: 0;
        top: -100%;
        transition: all .5s;
        padding-top: 50px;
    }
    .header__list.burger__active{
        top: 0;

    }
    .header__item +.header__item{
    
        margin-left: 10px;
    }
    .header__item{
        padding: 5px 0;
        border-bottom: 2px dotted #FF6464;
        margin: 0 10px;
    }
    .header-inner.burger__active{
        margin-bottom: 170px;

    }
    .header-inner{
        padding-bottom: 20px;
        
    }

}
